.container{
    margin: 2% 15% 2% 6%;
    width: 80%;
}

.border-btm{
    border-bottom:1px solid rgba(11, 122, 231, 1);
    border-bottom: 1px solid var(--color-theme);
    padding-bottom: 2%
}

.line-1_7{
    line-height: 1.7em
}