.navbar {
    display: flex;
    align-items: center;
    background-color: white;
    background-color: var(--color-background) !important;
    height: 50px;
    flex: 1 1;
    font-family: 'Roboto';
}

.nav_content {
    margin-left: auto;
    align-items: center;
    display: flex;
}

.selected {
    border-bottom: 2px solid var(--color-theme) !important;
}

.nav_button {
    cursor: pointer;
    padding: 10px;
    border: none;
}